#a {margin-top:0px;}
img {width:220px; height:250px; margin: 30px 55px}
p{
text-align: center;
}
p{

text-align:left;
}
h2, p{
           font-family: Comic Sans MS;
       }

 body{
     margin:0px;
	 background-image: url('phu-si1.jpg');
	}
#container{
	width:800px;
	border:1px solid gray;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
}
#header{
	background-color:#FFE4C4;
	color:black;
	margin-top:0px;
	border:1px solid;

}
#content{
	margin:15px;
	float:none;
}
#footer{
	background-color:#ddd;
	font-size:15px;
	text-align:center;
	padding:15px;
}
#pic{
float:right;
width:400px;

}

#back{
float:right;
padding-right:100px;
padding-bottom:25px;
}
h3:hover{
	color:#32CD32;
}
.sub-menu{
float:left;
padding:12px;
}
.sub-menu a{
text-decoration: none;
color:violet;
}


